<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright (c) Microsoft Open Technologies, Inc.  All Rights Reserved.
 Licensed under the Apache License, Version 2.0.  See License.txt in the project root for license information.
-->
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="com.example.plugin.hardcodebasicauth" version="0.0.1">

    <name>Hardcode Basic Auth</name>
    <description>Adds support for authentication with single hard coded user into Apache Cordova</description>

    <license>Apache 2.0</license>
    <keywords>basic http auth apache</keywords>
    <repo>https://github.com/alex028502/cordova-plugin-auth-hardcoded</repo>
    <issue>https://github.com/alex028502/cordova-plugin-auth-hardcoded/issues</issue>

    <preference name="BASIC_AUTH_USERNAME" />
    <preference name="BASIC_AUTH_PASSWORD" />

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AuthDialog">
                <param name="android-package" value="com.msopentech.authDialog.AuthRequestHandler"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <source-file src="src/basic-auth.xml" target-dir="res/values" />
        <config-file target="res/values/basic-auth.xml" parent="/*">
            <string name="basic_auth_username">$BASIC_AUTH_USERNAME</string>
            <string name="basic_auth_password">$BASIC_AUTH_PASSWORD</string>
        </config-file>
        <source-file src="src/android/AuthRequestHandler.java" target-dir="src/com/msopentech/authDialog" />
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="AuthDialog">
                <param name="ios-package" value="AuthenticationDialog"/>
            </feature>
        </config-file>

        <header-file src="src/ios/AuthenticationDialog.h" />
        <source-file src="src/ios/AuthenticationDialog.m" />

        <js-module name="AuthDialog" src="src/ios/authDialog.js">
            <clobbers target="window.authDialog" />
        </js-module>
    </platform>
</plugin>